.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:link, a:visited {
  color: inherit;
}

.container {
  text-align: left;
  font: 18px verdana, arial, sans-serif;
}

.row:nth-child(even) {
  background-color: #494d57;
}

.head {
  font-weight: bold;
}

.col {
  display: inline-block;
  padding: 6px;
  text-align: left;
}

.date {
  text-align: right;
  width: 80px;
}

.name {
  width: 400px;
  padding-left: 12px;
}

.action {
  text-align: right;
}

input,button {
  color: #fff;
  background-color: #4e5054;
  border: 2px solid #fff;
  min-height: 26px;
  border-radius: 3px;
}

.form-group {
  margin: 6px 0;
}

button.link {
  background:none;
  color:inherit;
  border:none; 
  padding:0 6px !important;
  font: inherit;
  cursor: pointer;
}